{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    TC | Залишити відгук
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                <h1 class="text-center">Залиште відгук</h1>
                {{ form_start(form) }}
                <div class="form-group">
                    <label>
                        Відгук
                    </label>

                    {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>
                        Оцінка
                    </label>

                    {{ form_widget(form.rating, {'attr': {'class': 'form-control', 'placeholder': 'Опис Вашого замовлення'}}) }}
                </div>

                <button type="submit" class="btn btn-primary">Підтвердити</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
